/* General CSS Rules */
* {
  text-align: center;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: whitesmoke;
}

nav {
  transition: 200ms ease-in-out background-color;
}

h2 {
  padding-top: 80px;
  margin-bottom: 5vh;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  padding: 3%;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

input {
  width: 75%;
  border-radius: 0.375rem;
  color: #444549;
  background-color: #1b242f;
  border-color: #1b242f;
}

textarea {
  width: 75%;
  border-radius: 0.375rem;
  color: #444549;
  background-color: #1b242f;
  border-color: #1b242f;
}

/* ids */
#hero {
  height: 100vh;
  width: auto;
  background-image: url('./images/haze.gif');
  background-size: 100% 100%;
}

#about-background {
  min-height: 80vh;
  width: auto;
}

#project {
  width: auto;
}

#contact {
  min-height: 100vh;
  width: auto;
}

/* General Classes */
.button-general {
  color: black;;
  text-decoration: none;
}

.button-general:hover {
  color: black;
  text-decoration: none;
}

.purple-span {
  color: rgb(157, 47, 230);
}

/*nav classes */
.navigation-bar {
  width: 80%;
  padding: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

.navigation-item {
  font-size: 1rem;
  text-align: right;
  margin-right: .75rem;
  color: whitesmoke;
}

.navigation-item:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.active-nav {
  background: rgba(118, 15, 187, 0.6);
  backdrop-filter: blur(4px);

}

.white-hamburger {
  color: whitesmoke;
  background-color: whitesmoke;
  ;
}

/* home page classes */
.about-button {
  border-radius: 0.375rem;
  border-color: whitesmoke;
  background-color: transparent;
  transition-property: font-size;
  transition-duration: 1s;
}

.about-button:hover {
  font-size: 125%;
}

/*about page classes*/
.marko-pic {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  margin-left: 1rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  shape-outside: circle();
  float: right;
}

.marko-pic-desktop {
  display: none;
  height: 175px;
  width: 175px;
  float: none;
}

.carousel-item {
  color: white;
  position: relative;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.carousel-text {
  margin-left: 15%;
  margin-right: 15%;
}

/*work page classes*/
.card {
  margin: auto;
  margin-bottom: 10px;
  background-color: black;
  border-color: rgb(118, 15, 187);
  border-width: thick;
}

.visit-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: .375rem;
  font-weight: 600;
}

h3.card-title{
  padding: 0px;
}
/* Arrow On Work Page Classes */

.arrow {
  text-align: center;
  font-size: 200%;
  margin: auto;
}

.right-arrow {
  display: none;
}

.down-arrow {
  display: initial;
}

/* Contact Classes */

.contact-header {
  font-size: 3.5rem;
  color: rgb(118, 15, 187);
}

.submit-button {
  font-weight: 100;
  color: white;
  border-color: white;
  background-color: #1b242f;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
}

/*animation for home page */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}