/* General CSS Rules */
* {
  text-align: center;
}

h2 {
  margin: 10px;
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

input {
  width: 75%;
  border-radius: 0.375rem;
}

textarea {
  width: 75%;
  border-radius: 0.375rem;
}

/* ids */
#hero {
  height: 100vh;
  width: auto;
  background: linear-gradient(to bottom right, #60005d, #487ece, #0CBABA);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

#about-background {
  width: auto;
  background: linear-gradient(rgb(135, 64, 135), rgb(248, 50, 50));
}

#project {
  width: auto;
  background: linear-gradient(to bottom left, #f79d00, #64f38c);
}

#contact {
  min-height: 75vh;
  width: auto;
  background: linear-gradient(to bottom right, #2AF598,#08AEEA)
}

/* General Classes */
.button-general {
  color: black;
  text-decoration: none;
}

.button-general:hover {
  color: black;
  text-decoration: none;
}

/*nav classes */
.navigation-bar {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.navigation-item {
  font-size: 1rem;
  text-align: right;
  margin-right: .75rem;
  color: whitesmoke;
}

.navigation-item:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.white-hamburger {
  color: whitesmoke;
  background-color: whitesmoke;;
}

/* home page classes */
.about-button {
  border-radius: 0.375rem;
  border-color: black;
  background-color: transparent;
  transition-property: font-size;
  transition-duration: 1s;
}

.about-button:hover {
  font-size: 125%;
}

/*about page classes*/
.marko-pic {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  margin-left: 1rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  shape-outside: circle();
  float: right;
}

.marko-pic-desktop {
  display: none;
  height: 175px;
  width: 175px;
  float: none;
}

.carousel-item {
  min-height: 50vh;
  color: white;
  position: relative;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.carousel-text {
  margin-left: 15%;
  margin-right: 15%;
}

/*work page classes*/
.card {
  margin: auto;
  margin-bottom: 10px;
}

.arrow {
  text-align: center;
  font-size: 200%;
  margin: auto;
}

.right-arrow {
  display: none;
}

.down-arrow {
  display: initial;
}

.contact-header {
  font-size: 3.5rem;
}

.visit-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: .375rem;
  font-weight: 600;
}

/* Contact Classes */
  .submit-button {
    margin-bottom: 10px;
  }

/*animation for home page */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}